@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-base font-light leading-8;
  }
  h1 {
    @apply text-3xl font-normal;
  }
  h2 {
    @apply text-2xl font-normal;
  }
  h3 {
    @apply text-xl font-normal;
  }
  b,
  strong {
    @apply font-semibold;
  }
  ul,
  ol {
    @apply list-outside;
  }
  a {
    @apply underline text-cyan-800 font-normal;
  }
}

@layer components {
  .no-prose a {
    @apply no-underline text-black;
  }
  footer a {
    @apply text-cyan-200 underline;
  }
  footer * {
    @apply text-center;
  }
}
